@import 'variables';

a {
    transition: 0.3s;
    text-decoration: underline;
    color: rgba($color-text, 0.5);
    &:hover {
        background-color: $color-accent;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    min-height: 100vh;
    margin: 0 auto;
}

.home {
    .wrapper {
        width: 800px;
    }
}

.sectionTtl {
    font-size: 2.2rem;
    line-height: 2;
    position: relative;
    text-align: center;
    letter-spacing: 0.03em;
    &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 30px;
        height: 5px;
        margin: auto;
        content: '';
        background-color: $color-accent;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    ul {
        display: flex;
        li {
            width: 40px;
            & + li {
                margin-left: 5px;
            }
            a {
                display: block;
                padding: 5px;
            }
        }
    }
}

#menu {
    > ul {
        display: flex;
        justify-content: center;
        > li {
            font-size: 1.5rem;
            letter-spacing: 0.03em;
            & + li {
                margin-left: 30px;
            }
            > a {
                position: relative;
                padding: 10px 20px;
                text-decoration: none;
                color: $color-text;
                &::before {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    left: 0;
                    width: 0;
                    height: 5px;
                    margin: auto;
                    content: '';
                    transition: 0.5s;
                    background-color: $color-accent;
                }
                &:hover {
                    background: none;
                }
                &:hover::before {
                    width: 50px;
                }
            }
        }
    }
}

#footer {
    margin-top: 50px;
    padding: 5px 0;
    text-align: center;
    color: lighten($color-text, 20%);
}

#top {
    h1 {
        width: 400px;
        margin: 50px auto;
    }
    .news {
        .post-news {
            margin: 20px auto 0;
            display: flex;
            justify-content: center;
            > time {
                display: inline-block;
                width: 70px;
            }
            > h3 {
                display: inline-block;
            }
        }
        &__link {
            margin-top: 5px;
            text-align: center;
            a {
                position: relative;
                display: inline-block;
                padding: 0 15px 0 10px;
                text-decoration: none;
                color: $color-text;
                &::before {
                    position: absolute;
                    top: 0;
                    right: 5px;
                    bottom: 0;
                    width: 4px;
                    height: 4px;
                    margin: auto;
                    content: '';
                    transform: rotate(-45deg);
                    border-right: 1px solid $color-text;
                    border-bottom: 1px solid $color-text;
                }
            }
        }
    }
    #menu {
        margin-top: 50px;
    }
}

#news {
    .posts-news {
        width: 250px;
        margin: 50px auto 0;
    }
    .post-news {
        margin: 10px 0;
        a {
            display: flex;
            text-decoration: none;
            color: $color-text;
            time {
                width: 70px;
            }
            h3 {
                flex: 1;
            }
        }
    }
}

#biography {
    .image {
        width: 100%;
        margin: 30px auto;
        > img {
            width: 100%;
            height: auto;
        }
    }
    .body {
        text-align: center;
        p {
            line-height: 2;
            & + p {
                margin-top: 20px;
            }
        }
    }
}

.posts {
    .post {
        margin: 50px 0;
        &__ttl {
            font-size: 1.6rem;
            font-weight: bold;
        }
        &__body {
            margin-top: 20px;
        }
    }
}