a {
  transition: 0.3s;
  text-decoration: underline;
  color: rgba(94, 94, 94, 0.5);
}

a:hover {
  background-color: #ff6;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 600px;
  min-height: 100vh;
  margin: 0 auto;
}

.home .wrapper {
  width: 800px;
}

.sectionTtl {
  font-size: 2.2rem;
  line-height: 2;
  position: relative;
  margin-top: 50px;
  letter-spacing: 0.03em;
}

.sectionTtl::before {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 5px;
  margin: auto;
  content: '';
  background-color: #ff6;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#header ul {
  display: flex;
}

#header ul li {
  width: 40px;
}

#header ul li + li {
  margin-left: 5px;
}

#header ul li a {
  display: block;
  padding: 5px;
}

#nav {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto 10px;
  padding-top: 10px;
}

#nav .menu {
  display: flex;
}

#nav .menu-item > a {
  line-height: 40px;
  position: relative;
  display: block;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #5e5e5e;
}

#nav .menu-item > a::before {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 0;
  height: 5px;
  margin: auto;
  content: '';
  transition: 0.5s;
  background-color: #ff6;
}

#nav .menu-item > a:hover {
  background: none;
}

#nav .menu-item > a:hover::before {
  width: 100%;
}

#footer {
  margin-top: 50px;
  padding: 5px 0;
  text-align: center;
  color: #919191;
}

#top h1 {
  width: 400px;
  margin: 50px auto;
}

#top .news .sectionTtl {
  text-align: center;
}

#top .news .sectionTtl::before {
  right: 0;
}

#top .news .post-news {
  display: flex;
  justify-content: center;
  margin: 20px auto 0;
}

#top .news .post-news > time {
  display: inline-block;
  width: 70px;
}

#top .news .post-news > h3 {
  display: inline-block;
}

#top .news__link {
  margin-top: 5px;
  text-align: center;
}

#top .news__link a {
  position: relative;
  display: inline-block;
  padding: 0 15px 0 10px;
  text-decoration: none;
  color: #5e5e5e;
}

#top .news__link a::before {
  position: absolute;
  top: 0;
  right: 5px;
  bottom: 0;
  width: 4px;
  height: 4px;
  margin: auto;
  content: '';
  transform: rotate(-45deg);
  border-right: 1px solid #5e5e5e;
  border-bottom: 1px solid #5e5e5e;
}

#top #menu {
  margin-top: 50px;
}

#top #menu > ul {
  display: flex;
  justify-content: center;
}

#top #menu > ul > li {
  font-size: 1.5rem;
  letter-spacing: 0.03em;
}

#top #menu > ul > li + li {
  margin-left: 30px;
}

#top #menu > ul > li > a {
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
  color: #5e5e5e;
}

#top #menu > ul > li > a::before {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 0;
  height: 5px;
  margin: auto;
  content: '';
  transition: 0.5s;
  background-color: #ff6;
}

#top #menu > ul > li > a:hover {
  background: none;
}

#top #menu > ul > li > a:hover::before {
  width: 50px;
}

#news .posts-news {
  width: 250px;
  margin: 50px auto 0;
}

#news .post-news {
  margin: 10px 0;
}

#news .post-news a {
  display: flex;
  text-decoration: none;
  color: #5e5e5e;
}

#news .post-news a time {
  width: 70px;
}

#news .post-news a h3 {
  flex: 1;
}

#biography .image {
  width: 100%;
  margin: 10px auto 30px;
}

#biography .image > img {
  width: 100%;
  height: auto;
}

#biography .body {
  text-align: center;
}

#biography .body p {
  line-height: 2;
}

#biography .body p + p {
  margin-top: 20px;
}

.posts .post {
  margin: 50px 0;
}

.posts .post__ttl {
  font-size: 1.6rem;
  font-weight: bold;
}

.posts .post__body {
  margin-top: 20px;
}
